
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Espaderos&Azurdia</title>

  <link class="circle" rel="shortcut icon" href="{% static 'admin/img/3-white.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'admin/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'admin/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

         

</head>

<body class="grey lighten-4" style="background-image: url({% static 'admin/img/fondo-1.jpg' %}); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; ">	

  <div id="too" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 cyan-text  Thin"  
            style="text-shadow:black 0.1em 0.1em 0.2em;">
            Code 369
            <br>
            
            <img class="responsive-img " style=" height: 250px; opacity: 0.2" src="{% static 'admin/img/catwhite.png' %}">
            
          </h2>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img  style=" max-width: 180%; height: 600px;" src="{% static 'admin/img/fondo-4.jpg' %}" alt="Unsplashed background img 3">
    </div>
  </div>

  <div id="mover" >
		<nav id="pru" class=" black " role="navigation" style="opacity: 0.9">
	    <div class="nav-wrapper container">		
	    	
        <a href="#" class="brand-logo right lime-text text-accent-2" >
          369
	    	</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons light-blue-text text-lighten-3">
            menu
          </i>
        </a>
        
				<ul class="left hide-on-med-and-down" >
					<li>
						<a class=" waves-effect lime-text text-lighten-4 "  href="#">
		    				HOME
		    		</a>
		    	</li >
		    	<li >
						<a class=" waves-effect  lime-text text-lighten-4"  href="#">
		    			SERVICIOS
		    		</a>
		    	</li>
		    	<li >
						<a class=" waves-effect  lime-text text-lighten-4"  href="#">
		    			CATALOGO WEBSITE
		    		</a>
		    	</li>
		    	<li >
            <a class=" waves-effect  lime-text text-lighten-4"  href="#">
              CONTACTENOS
            </a>    
          </li>
		    </ul>
			</div>
		</nav>
  </div>


  <ul id="nav-mobile" class="side-nav">
    <li>
      <a class="waves-effect waves-light light-blue-text text-lighten-3 " href="#">
        HOME
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light light-blue-text text-lighten-3" href="#">
        NUESTROS SERVICIOS
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light light-blue-text text-lighten-3" href="#">
        CATALOGO WEBSITE
      </a>
    </li>
    <li>
      <a class="waves-effect waves-light light-blue-text text-lighten-3" href="#">
        CONTACTENOS
      </a>  
    </li>         
  </ul>



  <div class="container " >
    <div id="contenido " class="section"  >

     {% block content %}
     {% endblock %}

    </div>
  </div>




  <footer class="page-footer grey darken-4">
        
    <div class="row center">
      <a class="block-center light-blue-text text-lighten-4">
        Guatemala, Guatemala C.A 01010 <br>
        Teléfono: (502) 5555-6666, Fax: (502) 2222-3333 <br>
        <a href="https://www.facebook.com/ESPADEROS-AZURDIA-Abogados-y-Notarios-110997322319772/">
            <img class="circle responsive-img" src="{% static 'admin/img/fb-w.png' %}">  
        </a>
        <a href="https://twitter.com/EspaderosyAzurd?lang=es">
            <img class="circle responsive-img" src="{% static 'admin/img/twt-white.png' %}">  
        </a>
      </a>
    </div>   

    <div class="footer-copyright black">
      <div class="container">
        <a href="http://www.materializecss.com/"> &copy &reg CHOPEN Liciencia MIT </a>
      </div>
      <div style="display: none;">
        Todos los derechos reservados "Mikhail Chopen", Powered by http:/Serialize.com Licencia MIT
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'admin/js/init.js' %}"></script>
  <script src="{% static 'admin/js/materialize.js' %}"></script>
  <script src="{% static 'admin/js/sticky-kit.js' %}"></script>
  <script src="{% static 'admin/js/prueba.js' %}"></script>
  
  
  

  </body>
</html>
