{% extends 'pagina/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="parallax-home z-depth-5">

  <div class="container valign-wrapper">
    <div >
      <div class="col s12 opacity-9 j-text">
        <div class="card-panel white-text pink darken-4 flow-text z-depth-3 j-vertical">
          <span >
            <h4 class="center-align ">Code 369</h4>
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am similar to what is called a panel in 
            other frameworks.
            I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
    
  

{% endblock content %}